.error {
    padding: 10px;
    background-color: FireBrick;
    border-style: solid;
    border-width: 3px;
    border-color: Maroon;
    margin: 10px;
}

.warning {
    padding: 10px;
    background-color: DarkOrange;
    margin: 10px;
}
