@import '../../styles/sass/colors.scss';

.footer {
    width: 100%;
    background-color: lightgray;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
}

.footerText {
    margin: 10px;
    color: $ohms-primary;
    text-align: center;
}